<footer class="text-body-secondary py-5">
    <div class="container" id = "info-container">
        <p class="float-end mb-1">
            <a id = "top" href="#">Back to top</a>
        </p>
        <p class="mb-1">Album example is &copy; Bootstrap, but please download and customize it for yourself!</p>
        <p class="mb-0">New to Bootstrap? <a href="/" id = "footer-link">Visit the homepage</a> or read our <a
                href="/" id = "footer-link">getting started guide</a>.</p>
    </div>
</footer>