<header data-bs-theme="dark">
    <div class="collapse text-bg-dark" id="navbarHeader">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-md-7 py-4">
                    <h4>About</h4>
                    <p class="text-body-secondary">Add some information about the album below, the author, or any other
                        background context. Make it a few sentences long so folks can pick up some informative tidbits.
                        Then, link them off to some social networking sites or contact information.</p>

                        
                </div>
                <div class="col-sm-4 offset-md-1 py-4">
                    <h4>Contact</h4>
                    <ul class="list-unstyled">
                        <li><a href="#" class="text-white">Follow on Twitter</a></li>
                        <li><a href="#" class="text-white">Like on Facebook</a></li>
                        <li><a href="#" class="text-white">Email me</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container">
            <a href="/" class="navbar-brand d-flex align-items-center">
                <svg fill="#FFFFFF" height="50px" width="50px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 511.999 511.999" xml:space="preserve">
                    <g>
                        <g>
                            <polygon points="271.227,199.157 271.227,74.51 240.81,74.51 240.81,199.157 116.164,199.157 116.164,229.574 240.81,229.574 
                            240.81,354.22 271.227,354.22 271.227,229.574 395.874,229.574 395.874,199.157 		" />
                        </g>
                    </g>
                    <g>
                        <g>
                            <path d="M465.262,145.07l-44.399,3.428c-18.066-45.178-54.105-81.145-99.317-99.117L325.235,0h-138.47l3.69,49.381
                            c-45.213,17.972-81.253,53.939-99.317,99.117l-44.4-3.428v138.618l44.394-3.428c18.563,46.507,55.898,82.992,102.812,100.466
                            l-2.461,50.16l-3.98,81.113h136.994l-3.98-81.113l-2.461-50.16c46.914-17.475,84.25-53.959,102.812-100.466l44.393,3.428
                            L465.262,145.07L465.262,145.07z M319.147,81.482c30.433,14.481,55.087,39.087,69.626,69.493l-75.253,5.81L319.147,81.482z
                            M192.853,81.483l5.627,75.303l-75.253-5.81C137.766,120.569,162.42,95.962,192.853,81.483z M195.523,348.524
                            c-31.705-14.272-57.334-39.348-72.308-70.741l76.067-5.874L195.523,348.524z M219.449,481.583l0.995-20.278h71.111l0.995,20.278
                            H219.449z M316.477,348.525l-3.76-76.614l76.067,5.873C373.811,309.177,348.182,334.252,316.477,348.525z M434.846,250.832h-0.001
                            l-154.199-11.905l9.418,191.961h-68.128l9.418-191.961l-154.2,11.905v-72.904l154.297,11.912v-0.001L220.211,39.406l-0.671-8.988
                            h72.921l-0.671,8.988l-11.241,150.432v0.001l154.297-11.912V250.832z" />
                        </g>
                    </g>
                </svg>

                <strong>BACF</strong>
            </a>
            
            <div class="d-flex flex-row-reverse">
                
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader"
                    aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a href="/login" class="btn btn-primary my-2"><strong>Login</strong></a>
                <a href="https://bible.usccb.org/daily-bible-reading" target="_blank" class="btn btn-primary my-2 mx-3"><strong>Bibles</strong></a>
            </div>
            
        </div>
    </div>

    
</header>