PROJECT_ID=bacf-66b3b
DATABASE_URL=https://bacf-66b3b-default-rtdb.firebaseio.com
GOOGLE_APPLICATION_CREDENTIALS=config/serviceAccountKey.json
ADMIN_UIDS=your_firebase_admin_uid

API_KEY=your_firebase_web_api_key
AUTH_DOMAIN=bacf-66b3b.firebaseapp.com
STORAGE_BUCKET=bacf-66b3b.firebasestorage.app
MESSAGING_SENDER_ID=920959628498
APP_ID=your_firebase_web_app_id
MEASUREMENT_ID=your_firebase_measurement_id
